{
  "CustomMessageSenderFunction": {
    "APP": "Yoma Fleet Better",
    "VERSION": "1.0.0",
    "ENV": "development",
    "EMAIL_FROM": "noreply@example.com",
    "MAIL_TRANSPORT": "smtp",
    "MAIL_TRAP_HOST": "smtp.mailtrap.io",
    "MAIL_TRAP_PORT": "2525",
    "MAIL_TRAP_USER": "your_mailtrap_user",
    "MAIL_TRAP_PASSWORD": "your_mailtrap_password",
    "BLACK_LIST_EMAILS": "",
    "SMS_HOST": "https://your-sms-api.com",
    "SMS_AUTH_KEY": "your_sms_api_key",
    "KEY_ID": "arn:aws:kms:us-east-1:123456789012:key/your-key-id",
    "SQS_QUEUE_URL": ""
  }
}
