{{define "admin_create_user"}}
<div>
    <h4 style="margin-bottom: 5px"><strong>Dear</strong> {{ .Name }},</h4>

    <div>
        <p>
            We have generated a temporary password for your account. Please use the following password to log in:
        </p>
        <p>
            Email: {{ .UserName }}
        </p>
        <p>
            Temporary Password: {{ .Code }}
        </p>

        <p>
            Please note that this password must be changed upon the first login. We recommend that you create a strong and unique password to keep your account secure.
        </p>

        <p>
            If you have any questions or concerns, please contact our support team at aung@yomafleet.com or our 24/7 365 hotline 09YOMAFLEET (09966235338).
        </p>
    </div>
</div>
{{end}}