{{define "forgot_password"}}
<div>
    <h4 style="margin-bottom: 5px"><strong>Dear</strong> {{ .Name }}</h4>

    <div>
        <p>
            You have requested to reset your password for your membership account at Yoma Fleet Better.
            To reset, please enter the following 6-digit code on the email verification page.
        </p>

        <u>{{ .Code }}</u>
        <p>If you do not ask for the password reset, contact us at aung@yomafleet.com or our 24/7 365 hotline 09YOMAFLEET (09966235338).</p>
    </div>
</div>
{{end}}