{{define "welcome"}}
<div>
  <h4 style="margin-bottom: 5px"><strong>Dear</strong> {{ .Name }},</h4>
  <h4 style="margin-bottom: 5px"><strong>Welcome to Yoma Fleet Better,</h4>

  <div>
    <p style="margin-bottom: 5px">
      Thank you for registering with us. We are reviewing your membership application and we will inform
      you when your membership has been approved. For the urgent approval, please call our 24/7 hotline
      09YOMAFLEET (09966235338).
    </p>

    <p>
      In the meantime, you can learn more about Yoma Fleet Better on the website or app on information such as:
    </p>

    <ul>
      <li>How Yoma Fleet Better works</li>
      <li>Locations</li>
      <li>Avaliable Fleets</li>
      <li>Benefits, and others</li>
    </ul>

    <p>
      Once your membership has been approved, you can make a reservation and start enjoying our services.
      All you need is our Yoma Fleet Better app on the Google Play Store/the App Store to access the car.
      For more information or support, please call our 24/7 hotline 09YOMAFLEET (09966235338).
    </p>
  </div>
</div>
{{end}}